{% extends "base.html"%}
{% load blog %}
{% block extrastyle %}
{% endblock %}
{% block msg %}
{% endblock %}
{% block content%}
<div id="content_wrap" class="prefix_1 grid_14 suffix_1">
<h1 class="prettytype">About The Ujima Project</h1>


<p>The Ujima Project is a collection of databases, documents and other
information that attempts to bring transparency to the workings and
spending of Africa governments, multinational non-governmental
organizations and business enterprise in African countries. Because few
African countries have freedom of information laws, getting at this
information from inside the countries can be difficult. </p>

<p>The Ujima Project can be described as "reverse transparency." Although the
information might be hard to come by in African countries, aid donors,
international organizations and agencies maintain a wealth on data pertaining to the continent. </p>

<p> While this information is public, it tends to be scattered among
governments in the United States and Europe,  and international
organizations like the Global Fund. We take the information from the various sources 
and put it into one easily searchable place. </p>


<p>The Ujima Project supports the work of African journalists and
transparency advocates. </p>


<p>The Ujima Project is a project of the Great Lakes Media Institute, a
501(c)3 organization, initially founded to support
the training of Rwandan journalists and the resulting Great Lakes Media Center in Kigali.  
Investigative Reporters and Editors, an international journalism
organization of investigative reporters and editors based at the
University of Missouri-Columbia, has played a key role in the development and support of this endeavor.</p>

<p> This website was launched in "beta" version in September 2009.
There are still plenty of bugs to be worked out and data subsets to include.
We also plan to create an application programming interface that allows programmers 
access to reuse the data on our site in its raw form. </p>

<p> The site was developed by <a href="http://appfrica.org">Appfrica</a>, a Kampala, Uganda-based software development firm. </p>




</div>
</div>
<div class="clear"></div> 




{% endblock %}

</body>
</html>
