{% extends "base.html"%}
{% load blog %}
{% block extrastyle %}
{% endblock %}
{% block msg %}
{% endblock %}
{% block content%}
<div="content_wrap" class="grid_15 suffix_1">

<h1 class="prettytype">Ujima | FAQ</h1>

<h2 class="prettytype">Q: What is the Ujima Project?</h2>
	<p>A: The Ujima Project is a new experiment in journalistic transparency. The
	Web site offers African journalists, nongovernmental organizations and others
	seeking factual data access to information that is not readily available
	in many African countries.

	The project operates on the premise of reverse transparency, taking
	database, documents and other information from donor countries -- The
	United States, European Union, for example -- and providing it in an easily
	searchable manner.

	Want to know what NGOs are doing in your country?
	The Ujima Project can provide some of the answers.

	Want to know how much your government is spending to influence policy in the United
	States or to promote its image abroad?
	The Ujima Project can assist with that as well.</p>

<h2 class="prettytype">Q: Where does the information come from?</h2>
	<p>A: Each database on the site comes from a specific governmental or
	international NGO source. We obtain some data by parsing government
	Web sites, entering the information from documents and crawling the
	Web. In cases where the data is not online, we use open records laws
	in the countries to obtain the information.

	In each case, we document where we get the information and how often
	it’s updated. We are attempting to update the data at least once a month.</p>

<h2 class="prettytype">Q: Who is the audience for the site?</h2>
	<p>A: The site is aimed at journalists, but is open to anyone who wants to
	use the information.</p>

<h2 class="prettytype">Q: Who is behind the Ujima Project?</h2>
	<p>A: The Ujima Project was created by the Great Lakes Media Institute, a
	team of journalists from the US and Africa. Investigative Reporters
	and Editors, an international organization of investigative
	journalists, also had a role in creating the site and has provided
	funding. You can find out more about us here:
	http://www.greatlakesmedia.org/glmi-director-board-members/

	The site was developed and is maintained by AppFrica, Appfrica Labs is a
	software development firm currently based in Kampala, Uganda.</p>

<h2 class="prettytype">Q: Who funds the Ujima Project?</h2>
	<p>A: Our project is made possible by several organizations including the Open Society Institute, Investigative Reporters and Editors, the Ford Foundation, International Consortium for Investigative Journalists, Knight Foundation Chair in Investigative and Enterprise Reporting at University of Illinois and the Global Investigative Journalism Network and members of the Great Lakes Media Institute.</p>

<h2 class="prettytype">Q: Is the Ujima Project a nonprofit?</h2>
	<p>A: Yes. We’ve incorporated as a nonprofit journalism education organization.</p>

<h2 class="prettytype">Q: Does the Ujima Project have an application programming interface, or API?</h2>
	<p>A: We are in the process of developing an API that will gives users
	direct access to the raw data we have.</p>

<h2 class="prettytype">Q: Is there a mobile application for Ujima?</h2>
	<p>A: We are in the process of developing a mobile app for the site. Stay tuned.</p>
	
<h2 class="prettytype">Q: How do I contact you?</h2>
		<p>A: You can contact us at <a href="mailto:editor@ujima-prokect.org">editor@ujima-project.org</a>.</p>



</div>
</div>
<div class="clear"></div> 


{% endblock %}

</body>
</html>