{% extends "base.html" %}
{% load pagination_tags %}
{% load main %}
{% block title %} Lobbyists for {{lobbytype.name}} | Ujima Project {% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content %}
<div id="content_wrap" class="prefix_1 grid_14 suffix_1">

<h3>Lobbyists - {{lobbytype.name}} </h3>

{% if lobbyists %}

<p>The number of records: {{lobbyists.count}} </p>

{% endif %}

<p>This table contains all firms and individuals who performed {{lobbytype.name}} services.</p>
<h4>Back to browse by <a href="{% url lobby.views.lobbytype_list %}">LobbyType</a> </h4>


  <table class="tablesorter" border ="2">
<thead>
	<tr>
		<th>Firm</th>
		<th>Client</th>
		<th>Country</th>
		<th>Amount</th>
		<th>Description</th>
		<th>Lobby Type</th>
		<th>Year</th>
	</tr>
</thead>
{% autopaginate lobbyists 20 %}
<tbody>
{% for lobbyist in lobbyists %}
   <tr>
      <td><a href="{{lobbyist.reg_cd.get_absolute_url}}">{{lobbyist.reg_cd.name}}</a></td>
      <td><a href="{{lobbyist.fp_cd.get_absolute_url}}">{{lobbyist.fp_cd.name}}</a></td>
      <td><a href="{{lobbyist.country.get_absolute_url}}">{{lobbyist.country.country}}</a></td>
      <td >{{lobbyist.financial_amount|doll}}</td>
      <td>{{lobbyist.activity_desc}}</td>
      <td>{{lobbyist.actcd.name}}</td>
      <td>{{lobbyist.year}}</td>
   </tr>
  {% endfor %}
</tbody>
  {% paginate %}

  </table>
<br><br>
<center><a href="csv" style="text-decoration:none;">Download as  <img src="/Media/static/xls.png" ></a></center>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4b72bf0f772d1a50" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_myspace"></a>
<a class="addthis_button_google"></a>
<a class="addthis_button_twitter"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b72bf0f772d1a50"></script>
<!-- AddThis Button END -->
</div>
</div>
<div class="clear"></div> 


{% endblock %}
