{% extends "base.html" %}
{% load pagination_tags %}
{% block title %} The Ujima Project {% endblock %}

{% block content %}

<p>Vendor: {{vendors}} </p>

{% if aid %}

<p>The number of records: {{aid.count}} </p>

{% endif %}


  <table border ="2">

<th>Vendor</th><th>Country</th><th>Amount(USD)</th><th>Agency</th><th>Description</th><th>Year</th><th>Product or Service</th>
{% autopaginate aid 20 %}
{% for aid in aid %}
   <tr>
      <td>{{aid.duns}}</a></td>
      <td><a href="{{aid.pcountry.get_absolute_url}}">{{aid.pcountry}}</a></td>
      <td>{{aid.dollars}}</td>
      <td>{{aid.agency}}</td>
      <td>{{aid.description}}</a></td>
      <td>{{aid.year}}</td>
	  <td><a href="{{aid.prodcode.get_absolute_url}}">{{aid.prodcode}}</td>
   </tr>

  {% endfor %}
  {% paginate %}

  </table>


<h4> Back to search page: 
<a href="{% url afJuma.afdb.views.country_list %}">Country</a>
<a href="{% url afJuma.afdb.views.search_detail %}">Search</a>
<a href="{% url afJuma.afdb.views.prod_list %}">Product</a>
<a href="{% url afJuma.afdb.views.vendor_list %}">Vendor</a>

</h4>


{% endblock %}
