{% load blog%} 
{% load comments i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Ujima Project | Blog</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/Media/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/Media/css/960.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/Media/css/text.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/Media/css/core.css" type="text/css" media="screen" charset="utf-8">
	<!-- end CSS -->
	
	<!-- JS -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="/Media/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/Media/js/cufon-yui.js"></script>
	<script src="/Media/js/CartoGothic_Std_400-CartoGothic_Std_700-CartoGothic_Std_italic_400-CartoGothic_Std_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" id="js">
	$(document).ready(function() { 
	    // call the tablesorter plugin
	 	$.tablesorter.defaults.widgets = ['zebra']; 
	    $("table").tablesorter(); 
		});

	Cufon.replace('.prettytype');
	</script>
	<!-- end JS -->
	
</head>

<body>
	<div id="header_wrap">
		<div id="header" class="container_16">
			<div id="logo" class="grid_4 suffix_12">
   				<h1><a href="/"> <img src="/Media/static/logo.jpg"></a></h1>
			</div>
		</div>
	</div>
	
	<div id="nav_wrap">
		<div id="navbar" class="container_16">
			
			<div id="tagline" class="prettytype grid_6 suffix_4">
				investigative reporting for africa
			</div>
				
			<div id="nav_menu" class="grid_6 prettytype">
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/faq">FAQ</a></li>
				</ul>
			</div>
		
		</div>
	</div>
	
	<!-- end top nav/identity -->
	
	
{% load markup %}
<div id="content_wrap" class="container_16">
	{% block body %}
    	<div id="post_title" class="grid_16 prettytype">
	        {% block content_title %}
	        {% endblock %}
	    </div>
	
		<div id="post_content">
	        {% block content %}

				<ul class="link_list">
	    			{% for cate in cat %}
	    			<li><a href="{{ cate.get_absolute_url }}">{{ category }}</a></li>
	    			{% endfor %}
	  			</ul>


	        {% endblock %}
	   </div>
	
	{% endblock %}
</div>
	
	<div id="footer">
		<div id="footer_wrap" class="container_16">
			<div id="blurb" class="grid_16">
				<p>Investigative Reporters and Editors (IRE), and the non-profit Great Lakes Media Institute joined forces to collect information about African countries from a variety of sources to journalists and others to explain the spending of their governments, non-governmental organizations and donors.</p>
				<p>Interested? Read our <a href="">FAQ</a>, and our <a href="">blog</a>.</p>
			</div>
			
		</div>	
		</div>
	<!-- end footer -->
	
</body>
</html>
