<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Ujima Project | Blog</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/Media/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/Media/css/960.gs" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/Media/css/text.css" type="text/css" media="screen" charset="utf-8">
	<!-- end CSS -->
	
	<!-- JS -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="/Media/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/Media/js/cufon-yui.js"></script>
	<script src="/Media/js/CartoGothic_Std_400-CartoGothic_Std_700-CartoGothic_Std_italic_400-CartoGothic_Std_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
	<!-- end JS -->
	
</head>

<body>
	<div id="header">
		
	</div>


</body>
</html>
