{% extends "base.html" %}

{% block title %}Ujima Project |Bidder Country List {% endblock %}

{% block content %}
<div id="content_wrap" class="grid_15 suffix_1">
<h2 class="prettytype" > Browse By Bidder Country </h2>

<p class="alt"> 
 This portion of the site allows you to search for vendors hired by the African Development Bank for work in your country.</p>
<p>Click on one of the items below to get information about the vendors and the type of work they are performing </p>

<ul class="cont">

{% for a,b in country_dict%}
<li class="group ui-widget-header ui-corner-all">{{a}}</li>
{% for bcountry in b %}
<li class="inner"><a class="title" href ="{{bcountry.get_absolute_url }}"><span id="c_name">{{ bcountry.biddercountry }}</span></a><a href ="{{bcountry.get_absolute_url }}"><img  class="flagg" src="/afdb/flag/{{bcountry.slug}}/" ></a></li>


{% endfor %}
{% endfor %}
</ul>

Search by:
<a href="{% url Ujima.afJuma.afdb.views.pcountry_list %}">ProjectCountry</a>
<a href="{% url Ujima.afJuma.afdb.views.proc_list %}">Procurement Type</a>
<a href="{% url Ujima.afJuma.afdb.views.bidder_list %}">Bidders</a>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4b72bf0f772d1a50" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_myspace"></a>
<a class="addthis_button_google"></a>
<a class="addthis_button_twitter"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b72bf0f772d1a50"></script>
<!-- AddThis Button END -->

</div>
<div class="clear"></div> 



{% endblock %}
     