{% extends "base.html" %}
{% load pagination_tags %}
{% block title %}Bidder List {% endblock %}

{% block content %}
<div id="content_wrap" class="grid_15 suffix_1">

<h2> Browse by Bidder </h2>

<p> 
 This portion of the site allows you to search for vendors hired by the African Development Bank for work in your country.</p>
<p>Click on one of the items below to get information about the vendors and the type of work they are performing </p>

<ul>
	{% autopaginate proc_list 20 %}
{% for proc in proc_list %}

<li><a href ="{{proc.get_absolute_url}}">{{proc.procurementmode}}</a></li>

{% endfor %}
  {% paginate %}

</ul>

Search by:
<a href="{% url afJuma.afdb.views.pcountry_list %}">ProjectCountry</a>
<a href="{% url afJuma.afdb.views.proc_list %}">Procurement Type</a>
<a href="{% url afJuma.afdb.views.bcountry_list %}">BidderCountry</a>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4b72bf0f772d1a50" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_myspace"></a>
<a class="addthis_button_google"></a>
<a class="addthis_button_twitter"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b72bf0f772d1a50"></script>
<!-- AddThis Button END -->
</div>
</div>
<div class="clear"></div> 



{% endblock %}
     